body{
    background-color: #ffffff ;
    text-align: center;
}
header{
    background-color: #ffa200 ;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 60px;
  text-decoration: center;
}

li a:hover:not(.active) {
  background-color: #000000;
}

li a.active {
  color: white;
  background-color: #000000;
}